body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}



.comandero{

}

.comandero-comanda-list{
	/* flexitem*/
	
	/* flex box*/
	

}

.comanda{
	display:inline-block;
        display:-moz-inline-stack;
        float:left;
    
}

.comanda-content:hover{
    cursor: pointer; 
    cursor: hand;
}


.comanda-content:hover{
    background-color: #fff;
    opacity: 0.5;
}

.comanda
{
	width: 23%;
	margin: 0px 1% 1% 1%;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	border: 1px solid #EEE;
}


.listado-detalle-comanda{

	font-size: 16pt;
}

.mesa-numero{
    font-size: 24pt;
    font-weight: bolder;
}


#comandero-left-header{
    position: absolute;
    z-index: 9999;
    left: 10px;
    top: 20px;
    text-align: center;
}

#comandero-left-header h3{
        margin-bottom: 0px;
        margin-top: 15px;
}

@media only screen and (max-width: 700px) {
    #time{
        display: none;
    }
}

@media only screen and (min-width: 700px) {
    #time .small{
        margin-top: -10px;
    }
}

.tipo-plato{
    font-size: 13px;
    text-align: center;
    opacity: 0.8;
}

.tipo-plato-principal{
    border-top: 1px solid #dcd1d1;
    padding-top: 8px;
}

.clockStyle{
	font-size: 30pt;
	font-family: 'Chau Philomene One', sans-serif;
	color: #3c3c3c;
	padding: 10px;
	margin: 10px;	
}

.comanda-observacion{
    text-align: justify;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}



/* ESTADO SALIENDO */
.comanda-estado-id-4 { 
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear; 
    animation-iteration-count: infinite;
} 

.comanda:hover .comanda-actions{
    visibility: visible;
}
.comanda-actions{
    visibility: hidden;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
@-moz-keyframes blinker {
    0% { opacity: 1.0;  border: 1px solid #929292; }
    50% { opacity: 0.3;}
    100% { opacity: 1.0; border: 1px solid #929292;} 
}

@-webkit-keyframes blinker { 
    0% { opacity: 1.0; border: 1px solid #929292;  }
    50% { opacity: 0.3;}
    100% { opacity: 1.0; border: 1px solid #929292; } 
} 

@keyframes blinker { 
    0% { opacity: 1.0;  border: 1px solid #929292; } 
    50% { opacity: 0.3;} 
    100% { opacity: 1.0; border: 1px solid #929292; } 
}