A[href='#listado-mesas-cerradas']{
    display: none !important;
}



/*** HOME ***/
#bton-caja,
#bton-admin,
#bton-inven,
#bton-estadisticas,
#bton-contabilidad,
#bton-arqueo,
a[href="/works/ristorantino/pquery/queries/list_view/10"],
a[href="/works/ristorantino/pquery/queries/list_view/5"]{
    display: none
}


/*   Acciones de la mesa  */ 
#mesa-action-cambiar-mozo, 
#mesa-action-reabrir,
#mesa-action-cobrar,
#mesa-action-reimprimir,
#mesa-action-borrar,
#mesa-action-edit,
#mesa-action-detalle-comanda-sacar-item{
    display: none;
}


#comanda-detalle-collapsible .btn-comanda-icon{
    display: none;
}
