.p-username{
   color: black;
   opacity: 0.55;
   position: absolute;
   right: 30px;
   top: 25px;
   z-index: 0;
}


#body-wrapper{
	background: url("/paxapos/css/img/home/bg-pic-1_1700x647.jpg");
   background-size: auto 100%;
   background-repeat: no-repeat;
}




.paxapos-app-header-icon{
	width: 44px;
    opacity: 0.55;
    clear: both;
    display: block;
    margin: auto auto;
}


#p-main-background{
  top: 3px;
  left: 3px;
  position: absolute;
}

#p-main-background img{
  width: 100px;
}