#listado-mozos-para-mesas{
    padding: 0px;
    margin: 0px;
    background-color: #E7E7E7;
}



.control-header{
	position: fixed;
	
	  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#f8f8f8));
	  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
	  background-image: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
	  background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
	  background-repeat: repeat-x;
	  border-radius: 4px;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
	  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
	          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);


	width: 100%;
	position: fixed;
	width: 98%;
	height: 84px;
	z-index: 999;
	padding: 10px 1% 0px 1%;
}

.mozos-grid{
}

table.calendar-header{
	width: 100%;
}

table.calendar-header th{

}

table.calendar-header th.highlight{
	font-weight: bolder;
	color: black;
}


.controll .btn-controls .control-actions a{
	display: inline-block;
	width: 20%;
	text-align: center;
	vertical-align: middle;
	line-height: 39px;
	color: white !important;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	height: 39px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.controll .btn-controls .navbar-brand{
	display: inline-block;
	text-align: center;
	width: 100%;
	text-align: center;
}

.controll .btn-controls .navbar-brand img{
	height: 30px;
}

.calendar-container{
	position: relative;
}


.calendar-data{
	margin-top: 78px;
}

.calendar-grid .col-header{
	float: left;
	width: 10%;
	position: relative;
}

.calendar-grid .content{
	float: left;
	width: 90%;
	position: relative;
}




.calendar-container table.mozo-days{
	height: 35px;    
    clear: both;
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	table-layout: fixed;
}


.ui-content{
	padding: 1% !important;
}

table.mozo-days, table.calendar-header, table.mozo-mesas{
	min-width: 1024px;
}

table.mozo-days td, table.calendar-header th{
	width: 4%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

.day-list table .day, .calendar-container table.mozo-days .day{
	height: 35px;
	border-right: 1px dotted #333;
}


.calendar-container  table.mozo-mesas {
	position: relative;
	table-layout: fixed;
	width: 100%;
	top:0px;
}



.calendar-container  table.mozo-mesas .mark a.mesa-abierta{
	background: #eee;
}


.calendar-container  table.mozo-mesas .mark a.mesa-cerrada{
	background: #B0875D;
	color: white;
}

.calendar-container  table.mozo-mesas .mark a.mesa-cobrada{
	background: green;
	color: beige;
}

.calendar-container  table.mozo-mesas .mark a.mesa-inactiva{
	background: #5D5E5F;
	color: #DBDFBF;
	opacity: 0.5;
}




.calendar-container  table.mozo-mesas .mark{
	right: -1em;
	position: relative;
}



	
.calendar-container  table.mozo-mesas .mark a{
	display: block;
	text-align: center;
	font-size: 9pt;
	font-weight: lighter;
	text-decoration: none;
	height: 28px;
	line-height: 28px;
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
	background: yellow;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	overflow: hidden;
}

	
.calendar-container  table.mozo-mesas .checkin-not-showed .mark a{
	margin-left: -20px;	
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	
}


.calendar-container  table.mozo-mesas  .checkout-not-showed .mark a{
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}


.calendar-container  table.mozo-mesas .mesa-tipofactura{
	position: relative !important;
	left: 0px;
}

.calendar-container  table.mozo-mesas .mark .mesa-cliente{
	position: relative;
	font-size: 8pt;
}


.calendar-container  table.mozo-mesas .mozo-col{
	padding-top: 3px;
	padding-bottom: 3px;	
}



.calendar-container  table.mozo-mesas .mozo-col.libre div{
	right: -1em;
	position: relative;
}

.calendar-container  table.mozo-mesas .mozo-col.libre.posible-ancla-mark div{
	display: block;
	text-align: center;
	font-size: 9pt;
	font-weight: lighter;
	text-decoration: none;
	height: 23px;
	line-height: 23px;
	margin: 0xp; padding: 0px;
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;	
	background: #eee;
	opacity: 0.5;
	border: 1px dashed grey;

	-webkit-border-top-left-radius: 55px;
	-webkit-border-bottom-left-radius: 55px;
	-moz-border-radius-topleft: 55px;
	-moz-border-radius-bottomleft: 55px;
	border-top-left-radius: 55px;
	border-bottom-left-radius: 55px;

	overflow: hidden;
}



.calendar-container  table.mozo-mesas .mozo-col.libre.ancla-mark div{
	display: block;
	text-align: center;
	font-size: 9pt;
	font-weight: lighter;
	line-height: initial;
	text-decoration: none;	
	height: 23px;
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
	background: yellow;
	-webkit-border-top-left-radius: 55px;
	-webkit-border-bottom-left-radius: 55px;
	-moz-border-radius-topleft: 55px;
	-moz-border-radius-bottomleft: 55px;
	border-top-left-radius: 55px;
	border-bottom-left-radius: 55px;
	border-right: none;
	overflow: hidden;	
}

.calendar-container  table.mozo-mesas .mozo-col.libre.future-mark div{
	display: block;
	text-align: center;
	font-size: 9pt;
	font-weight: lighter;
	line-height: initial;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
	background: yellow;
	height: 23px;
	opacity: 0.5;
	overflow: hidden;
	border-top: 1px dashed grey;
	border-bottom: 1px dashed grey;
}


 

#listado-mesas .mozo-row{    
    clear: both;
    position: relative;
    border-top: 1px solid grey;
}


.mozo-row .mozos-list-vertical{
	line-height: initial;
	text-align: center;
	font-size: 13pt;

}

.mozo-row .mozos-list-vertical.highlight{
	color: white !important;
}

#listado-mesas .mozo-row .col-header a{
    display: block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.listado-mozos-para-mesas{
	border-right: 1px solid grey;
	line-height: 35px;
	height: 35px;
}


.calendar-grid th.month span{
	position: absolute;
	margin-top: -10px;
}

.calendar-grid th.month:nth-child(even){
	border-bottom: 2px solid #99C9FD;
	color: #99C9FD;
	height: 32px;
}

.calendar-grid th.month:nth-child(odd){
	border-bottom: 2px solid #FF7272;
	color: #FF7272;
	height: 32px;
}

.calendar-grid th.day{
    font-size: 9pt; 
    font-weight: lighter;
    height: 48px;
}




.date-checkin-checkout{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 30px 0px;
	font-size: 14pt;

	margin-top: 10px;
	background: beige;
	text-align: center;
}

.date-checkin-checkout .title{
	color: #A3A3A3;
 }

 .date-checkin-checkout > div{ 
 	display: inline-block;
	width: 33%;
 }
