



.control-header{
	position: fixed;
	
	  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#f8f8f8));
	  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
	  background-image: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
	  background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
	  background-repeat: repeat-x;
	  border-radius: 4px;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
	  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
	          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);


	width: 100%;
	position: fixed;
	width: 98%;
	height: 84px;
	z-index: 999;
	padding: 10px 1% 0px 1%;
}


.controll .btn-controls .control-actions a{
	display: inline-block;
	width: 20%;
	text-align: center;
	vertical-align: middle;
	color: white !important;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.controll .btn-controls .navbar-brand{
	display: inline-block;
	text-align: center;
	width: 100%;
	text-align: center;
}

.controll .btn-controls .navbar-brand img{
	height: 30px;
}




#listado-mesas table.calendar{
	width: 100%;
	border-spacing: 0px;
	table-layout: fixed;
	min-width: 1024px;
	text-shadow: none;
}


#listado-mesas table.calendar .highlight{
	font-weight: bolder;
	color: black;
}



#listado-mesas table.absolute{
    clear: both;
    position: absolute;
	top: 0;
	left: 0;
}






#listado-mesas table.calendar  td, #listado-mesas table.calendar th{	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-shadow: none;
	height: 35px;
}


#listado-mesas table .day{
	border-right: 1px dotted #333;
}





#listado-mesas .ui-content{
	padding: 93px 1% 0px 1% !important;
}



#listado-mesas .col-header{
	float: left;
	width: 10%;
	position: relative;
	margin: 0px;
	padding: 0px;
}


#listado-mesas .content{
	float: left;
	width: 90%;
	position: relative;
	margin: 0px;
	padding: 0px;
}


#listado-mesas .mozo-row .col-header  > div{
	border-right: 1px solid grey;
	line-height: 35px;
	height: 35px;
}




#listado-mesas table.calendar-header{	
	color: #333;
	margin-top: 13px;
}



#listado-mesas  table .mark{
	right: -1em;
	position: relative;
	height: 24px;
}



	
#listado-mesas  table .mark a{
	display: block;
	text-align: center;
	font-size: 9pt;
	line-height: 24px;
	margin: 0px;
	padding: 0px 3px 0px 0px;
	height: 24px;
}



#listado-mesas  table .mark a{
	-webkit-border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	border-radius: 50px;
}

	
#listado-mesas  table .checkin-not-showed .mark a{
	margin-left: -20px;
	padding-left: 20px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}


#listado-mesas  table .checkout-not-showed .mark a{
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}



#listado-mesas  table .mesa-cliente{
	position: relative;
	font-size: 8pt;
}


#listado-mesas  table .libre div{
	right: -1em;
	position: relative;
}

#listado-mesas  table .libre.posible-ancla-mark div{
	display: block;
	text-align: center;
	font-size: 9pt;
	font-weight: lighter;
	text-decoration: none;
	height: 23px;
	line-height: 23px;
	margin: 0xp; padding: 0px;
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;	
	background: #eee;
	opacity: 0.5;
	border: 1px dashed grey;

	-webkit-border-top-left-radius: 55px;
	-webkit-border-bottom-left-radius: 55px;
	-moz-border-radius-topleft: 55px;
	-moz-border-radius-bottomleft: 55px;
	border-top-left-radius: 55px;
	border-bottom-left-radius: 55px;

	overflow: hidden;
}



#listado-mesas  table .libre.ancla-mark div{
	display: block;
	text-align: center;
	font-size: 9pt;
	font-weight: lighter;
	line-height: initial;
	text-decoration: none;	
	height: 23px;
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
	background: yellow;
	-webkit-border-top-left-radius: 55px;
	-webkit-border-bottom-left-radius: 55px;
	-moz-border-radius-topleft: 55px;
	-moz-border-radius-bottomleft: 55px;
	border-top-left-radius: 55px;
	border-bottom-left-radius: 55px;
	border-right: none;
	overflow: hidden;	
}

#listado-mesas  table .libre.future-mark div{
	display: block;
	text-align: center;
	font-size: 9pt;
	font-weight: lighter;
	line-height: initial;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
	background: yellow;
	height: 23px;
	opacity: 0.5;
	overflow: hidden;
	border-top: 1px dashed grey;
	border-bottom: 1px dashed grey;
}


 

#listado-mesas .mozo-row{    
    clear: both;
    position: relative;
    border-top: 1px solid grey;
}

#listado-mesas .mozo-row:last-child{ 
	border-bottom: 1px solid grey;
} 


#listado-mesas .mozo-row .col-header{
	line-height: initial;
	text-align: center;
	font-size: 13pt;

}

#listado-mesas .mozo-row .highlight{
	color: white !important;
}



#listado-mesas th.month span{
	position: absolute;
	margin-top: -10px;
}

#listado-mesas th.month:nth-child(even){
	border-bottom: 2px solid #99C9FD;
	color: #99C9FD;
	height: 32px;
}

#listado-mesas th.month:nth-child(odd){
	border-bottom: 2px solid #FF7272;
	color: #FF7272;
	height: 32px;
}

#listado-mesas th.day{
    font-size: 9pt; 
    font-weight: lighter;
}




#mesa-view .date-checkin-checkout{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px 0px;
	font-size: 14pt;

	margin-top: 10px;
	background: beige;
	text-align: center;
}

#mesa-view .date-checkin{
	width: 50%;
	display: inline-block;
}

#mesa-view .date-checkout{
	width: 50%;
	display: inline-block;
}