
ul.dashboard-buttons{
    padding:15px; 
}

.dashboard-container{
    margin-top: 30px;
}

.dashboard-buttons{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

}

.dashboard-buttons li{
    text-align: center;
    list-style: none;
    display: inline-block;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding: 15px;
    min-width: 42px;
    max-width: 100px;
}

.dashboard{
    background: rgba(36, 66, 137, 0.2);    
    -webkit-border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border-radius: 30px;
    margin-bottom: 15px;
    margin-top: 50px;
    text-align: center;
    padding-top: 30px;
}


.dashboard-buttons a{
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 12px;
        overflow: visible;
        
        text-decoration: none;
        vertical-align: middle;
        color: rgba(0,0,0, 0.6);
}

.dashboard-buttons a img{
    width: 100%;
    }

.dashboard-buttons a:hover{
        opacity:0.7;
        filter:alpha(opacity=70); /* For IE8 and earlier */
}

.redondeado{
	-webkit-border-radius: 17px;
        -moz-border-radius: 17px;
        border-radius: 17px; 
}

.redondeado-arriba{
        -moz-border-radius-topleft: 17px;
        -moz-border-radius-topright: 17px;
        -webkit-border-radius: 17px 17px px px;
        border-radius: 17px 17px px px; 
}

.redondeado-abajo{
        -moz-border-radius-bottomright: 17px;
        -moz-border-radius-bottomleft: 17px;
        -webkit-border-radius: px px 17px 17px;
        border-radius: px px 17px 17px; 
}




.timeline{
    background: transparent !important;
}