
.dashboard-buttons{
    text-align: center;
    margin: auto;
}

.dashboard-buttons li{
    display: inline-block;
}


.dashboard-buttons a{
      display: block;
        width: 240px;
        height: 187px;
        text-decoration: none;
        vertical-align: middle;
        overflow: hidden;
        color: #000;
        background-position: center top;
        background-repeat: no-repeat;
        padding-top: 134px;

}

.dashboard-buttons a:hover{
        opacity:0.7;
        filter:alpha(opacity=70); /* For IE8 and earlier */
}

.redondeado{
	-webkit-border-radius: 17px;
        -moz-border-radius: 17px;
        border-radius: 17px; 
}

.redondeado-arriba{
        -moz-border-radius-topleft: 17px;
        -moz-border-radius-topright: 17px;
        -webkit-border-radius: 17px 17px px px;
        border-radius: 17px 17px px px; 
}

.redondeado-abajo{
        -moz-border-radius-bottomright: 17px;
        -moz-border-radius-bottomleft: 17px;
        -webkit-border-radius: px px 17px 17px;
        border-radius: px px 17px 17px; 
}


#bton-estadisticas{
	background-image: url("stats.png");
}

#bton-adicion{
	background-image: url("adicion.png");
}

#bton-caja{
	background-image: url("caja.png");
}

#bton-admin{
	background-image: url("admin.png");
}

#bton-arqueo{
	background-image: url("botonarqueo.png");
}

#bton-contabilidad{
	background-image: url("contabilidad.png");
        background-position: center top;
	background-repeat: no-repeat;
        padding-bottom: 0px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 150px;
}

#bton-inven {
	background-image: url("../img/inventario.png");
}

