
ul.dashboard-buttons{
    padding:15px; 
}

.dashboard-buttons{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

}

.dashboard-buttons li{
    list-style: none;
    min-width: 150px;

    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.dashboard{
    background: rgba(36, 66, 137, 0.2);    
    -webkit-border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border-radius: 30px;
    margin-bottom: 15px;
    text-align: center;
}


.dashboard-buttons a{
      display: block;
        width: 100%;
        min-width: 150px;
        height: 160px;
        text-decoration: none;
        vertical-align: middle;
        overflow: hidden;
        color: rgba(0,0,0, 0.8);
        background-position: center top;
        background-repeat: no-repeat;
        padding-top: 141px;
        margin-bottom: 50px;

}

.dashboard-buttons a:hover{
        opacity:0.7;
        filter:alpha(opacity=70); /* For IE8 and earlier */
}

.redondeado{
	-webkit-border-radius: 17px;
        -moz-border-radius: 17px;
        border-radius: 17px; 
}

.redondeado-arriba{
        -moz-border-radius-topleft: 17px;
        -moz-border-radius-topright: 17px;
        -webkit-border-radius: 17px 17px px px;
        border-radius: 17px 17px px px; 
}

.redondeado-abajo{
        -moz-border-radius-bottomright: 17px;
        -moz-border-radius-bottomleft: 17px;
        -webkit-border-radius: px px 17px 17px;
        border-radius: px px 17px 17px; 
}


#bton-reservations a{
    background-image: url("reservations.png");
}


#bton-comandero a{
    background-image: url("comandero.png");
}

#bton-estadisticas a{
	background-image: url("stats.png");
}

#bton-adicion a{
	background-image: url("adicion.png");
}

#bton-caja a{
	background-image: url("caja.png");
}

#bton-admin a{
	background-image: url("admin.png");
}

#bton-arqueo a{
	background-image: url("arqueo.png");
}

#bton-contabilidad a{
	background-image: url("contabilidad.png");       
}

#bton-inven  a{
	background-image: url("../img/inventario.png");
}

#bton-pedidos a{
    background-image: url("pedidos.png");
}


.timeline{
    background: transparent !important;
}