.box-oauth-login .btn-icon{
	min-width:45px;
	height:45px;
	background-color:rgba(36, 66, 137,0.2);
	border:0;
	background-position:center;
	background-repeat:no-repeat;
}


.box-oauth-login .btn-icon:hover{
	background-color:rgba(36, 66, 137,0.5);
}



.p-facebook .btn{
	background-image:url(img/login-facebook.png);
}
.p-google .btn{
	background-image:url(img/login-google.png);
}