@import url(http://fonts.googleapis.com/css?family=Lato);

/*
custom classes starts with p-

colors darker to lighter
blue paxapos #244289
0B2D71
1D4189
284D97
4673C3

3C578D

grey paxapos #666666
101010
535353
6d6d6d
6a6a6a

red paxapos #B71D21
b71d21

almost white
F5F9FB

*/





.blue{
  color: #244289;
}

.blue-9{
  color: rgba(36, 66, 137, 0.9);
}
.blue-8{
  color: rgba(36, 66, 137, 0.8);
}

.blue-5{
  color: rgba(36, 66, 137, 0.5);
}
.blue-3{
  color: rgba(36, 66, 137, 0.3);
}

.red{
  color: #B71D21;
}

.grey{
  color: #666666;
}

.black{
  color: #000;
}
.black-9{
  color: rgba(0,0,0,0.9);
}
.black-8{
  color: rgba(0,0,0,0.8);
}
.black-5{
  color: rgba(0,0,0,0.5);
}
.black-3{
  color: rgba(0,0,0,0.3);
}

.white{
  color: #fff;
}

.white-8{
  color: rgba(255, 255, 255, 0.8);
}

.bg-blue{
  background-color: #244289;
}
.bg-blue-5{
  background-color: rgba(36, 66, 137, 0.5);;
}

.bg-red{
  background-color: #B71D21;
}

.bg-grey{
  background-color: #666666;
}

.bg-black{
  background-color: rgba(0, 0, 0, 0.7);
}

.bg-white{
  background-color: rgba(255, 255, 255, 1);
}

.bg-white-8{
  background-color: rgba(255, 255, 255, 0.85);
}

.bg-white-5{
  background-color: rgba(255, 255, 255, 0.85);
}
.bg-white-3{
  background-color: rgba(255, 255, 255, 0.85);
}


.content-white{
    background-color: rgba(255, 255, 255, 1);
    padding: 15px;
    border: 1px solid #dddddd;
    border-top: 1px solid #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: rgba(0, 0, 0, 0.7);
}

/* hacer que el footer quede siempre abajo aunque la pagina se mas chica*/

#body-wrapper {
  min-height:100%;
  position:relative;
}




html,
body {
  margin:0;
  padding:0;
  height:100%;
}
/* EOF: hacer que el footer quede siempre abajo */


body {
  font-family: 'Lato';
  font-style: normal;
}






/* mensajes */
.message{
	margin-bottom: 0px;
	text-align: center;
}




#flashMessage.message {
    margin: 0px;
    padding: 15px; 
    padding-top:  3%;
    padding-bottom: 3%;
    border: 1px solid transparent;

}

#flashMessage.message h4 {
  margin-top: 0;
  color: inherit;
}

#flashMessage.message .alert-link {
  font-weight: bold;
}



#authMessage.message hr,#flashMessage.message hr {
  border-top-color: #c9e2b3;
}

#authMessage.message .alert-link, #flashMessage.message .alert-link {
  color: #356635;
}




.thumb{
  height: 50px;
}

.center{
  text-align: center;
}

