#flashMessage.message {
    margin: 0px;
    padding: 15px; 
    padding-top:  3%;
    padding-bottom: 3%;
    border: 1px solid transparent;

}

#flashMessage.message h4 {
  margin-top: 0;
  color: inherit;
}

#flashMessage.message .alert-link {
  font-weight: bold;
}



#authMessage.message hr,#flashMessage.message hr {
  border-top-color: #c9e2b3;
}

#authMessage.message .alert-link, #flashMessage.message .alert-link {
  color: #356635;
}




.thumb{
  height: 50px;
}

.center{
  text-align: center;
}


.tt-menu{
    background-color: white;
}

.tt-dataset{
    padding: 10px 5px;
}


a.px-media-link:hover{
  opacity: 0.7;
}